body {
  padding: 50px;
}

header {
  background-color: #F96500;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  transition: top 0.3s;
}

header .active {
  border-bottom: 2px solid white;
}

:link{
  margin: 10px;
  color: white;
  text-decoration: none;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.post-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
}

.post-thumbnail {
  object-fit: cover;
  border-radius: 5px;
}

.post-title {
  height: 3em;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  text-align: left;
  margin-top: 5px;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.post-date {
  text-align: left;
  font-weight: normal;
  margin-bottom: 2px;
}

